{:storage    {:backend :file}
 :server     {:port 5555}
 :history    :always
 :tools      [{:type  :jar
               :id    :souls
               :label "Souls"
               :jar   {:path       "target/campaign5.jar"
                       :entrypoint campaign5.souls/-soul-generator}}
              {:type  :jar
               :id    :reliquaries
               :label "Reliquaries"
               :jar   {:path       "target/campaign5.jar"
                       :entrypoint campaign5.reliquaries/-reliquary-generator}}
              {:type  :data
               :id    :rings
               :label "Rings"
               :data  {:source "data-plugins/rings.edn"}}
              {:type      :data
               :id        :tarot-loot
               :label     "Draw tarot cards"
               :generator {:hidden? true
                           :history :never}
               :data      {:inline {:items    [{:instruction "Draw 1 tarot card"}]
                                    :title    "Tarot cards"
                                    :sections [{:each :items
                                                :item {:body "{{ instruction }}"}}]}}}
              {:type      :jar
               :id        :tarot
               :label     "Tarot/Legendary items"
               :generator {:history :button}
               :jar       {:path       "target/campaign5.jar"
                           :entrypoint campaign5.tarot/-tarot-generator}}
              {:type      :jar
               :id        :trinkets
               :label     "Trinkets"
               :generator {:history :button}
               :jar       {:path       "target/campaign5.jar"
                           :entrypoint campaign5.trinkets/-trinket-generator}}
              {:type  :data
               :id    :missions
               :label "Missions"
               :data  {:source "data-plugins/missions.edn"}}
              {:type  :data
               :id    :minor-shrines
               :label "Minor Shrines"
               :data  {:source "data-plugins/minor-shrines.edn"}}
              {:type  :jar
               :id    :mythic-shrines
               :label "Mythic Shrines"
               :jar   {:path       "target/campaign5.jar"
                       :entrypoint campaign5.mythic-shrines/-mythic-shrine-generator}}
              {:type    :jar
               :id      :soul-procs
               :label   "Soul Procs"
               :section "Utilities"
               :jar     {:path       "target/campaign5.jar"
                         :entrypoint campaign5.soul-procs/-soul-proc-generator}}
              {:type    :builtin
               :id      :social
               :label   "Group Social"
               :section "Utilities"}]
 :reporting  #include "reporting.edn"
 :loot-table [{:id     :rings
               :weight 18}
              {:id     :souls
               :weight 18}
              {:id     :tarot
               :weight 18}
              #_{:id     :tattoos
                 :weight 19}
              {:id     :trinkets
               :weight 18}
              {:id     :missions
               :weight 10}]}
