{:paths   ["src" "resources"]
 :deps    {org.clojure/clojure {:mvn/version "1.12.5"}}
 :aliases {:dev      {:extra-paths ["dev"]
                      :extra-deps  {org.clojure/tools.namespace {:mvn/version "1.5.1"}}}
           :outdated {:deps      {com.github.liquidz/antq {:mvn/version "RELEASE"}}
                      :main-opts ["-m" "antq.core"]}}}
