{:paths   ["src" "resources"]
 :deps    {org.clojure/clojure         {:mvn/version "1.12.5"}
           tools.spies/sns-spi         {:mvn/version "0.0.5"}
           com.github.dekelpilli/randy {:mvn/version "0.0.42"}
           methodical/methodical       {:mvn/version "1.0.127"}
           selmer/selmer               {:mvn/version "1.13.4"}}
 :aliases {:dev      {:extra-paths ["dev"]
                      :extra-deps  {org.clojure/tools.namespace {:mvn/version "1.5.1"}}}
           :build    {:extra-paths ["."]
                      :extra-deps  {io.github.clojure/tools.build {:mvn/version "0.10.14"}}
                      :ns-default  build}
           :outdated {:deps      {com.github.liquidz/antq {:mvn/version "RELEASE"}}
                      :main-opts ["-m" "antq.core"]}}}
